<div class="main-content">
    <div class ="section-content section-content-p30">
        <h4>Category: {{currentCategoryName}}</h4>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <!-- LOOP OVER PRODUCTS -->
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        <!--  Add Link to product image -->
                        <a routerLink="/products/{{tempProduct.id}}">
                        <img src="{{tempProduct.imageUrl}}" class="img-responsive"/>
                        </a>
                        <!-- Add link to product name -->
                        <a routerLink="/products/{{tempProduct.id}}">
                        <h1>{{tempProduct.name}}</h1>
                        </a>
                        
                        <div class="price">{{tempProduct.unitPrice | currency:'USD'}}</div>
                        <button class="btn btn-primary btn-sm"(click)="addToCart(tempProduct)">Add to cart</button>
                    </div>
                </div>
                <!--If product list is null/empty then display alert message-->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products Found.
                </div>
            </div>
            <!--begin pagination footer-->
            <div class="footer-pagination">
                <div class="row">
                    <div class = "col-md-6"></div>
                    <div class = "col-md-6">
                        <div class ="row">
                            <div class="col-md-9" style="padding-left: 30%;">
                                <ngb-pagination [(page)]="thePageNumber"
                                                [pageSize]="thePageSize"
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                                [collectionSize]="totalElements"
                                                (pageChange)="listProducts()">

                                </ngb-pagination>
                            </div>
                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span class="mr-2">Page Size</span>
                                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end pagination footer-->
        </div>

    </div>

</div>